PORT=5000
MONGODB_URI=mongodb+srv://<db_user>:<password>@<cluster>.mongodb.net/portfolio?appName=<AppName>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM=your_email@gmail.com
SMTP_TO=your_email@gmail.com
